# Combining & Exporting Data

This Script Contains:
1. Import Libraries & Data
2. Merge df_ords & df_prods
3. Export file

# Import Libraries

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# import orders_products_prior.csv as df_ords_prior

df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
#import orders_clean.csv as df_ords

df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_clean.csv'), index_col = 0)

In [6]:
#check the output

df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
#check the shape of df_ords_prior

df_ords_prior.shape

(32434489, 4)

In [8]:
# Check the shape of df_ords

df_ords.shape

(3421083, 7)

# Merge df_ords & df_prods

In [9]:
# Merging df_ords and df_ords prior using 'order_id' as shared key

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
# Check output of df_merged_large

df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [11]:
#check shape of df_merged_large

df_merged_large.shape

(32434489, 11)

In [12]:
# Check value counts of df_merged_large

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Export File

In [13]:
# #Export df_merged_large in pickle format

df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))